rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /student_requests/{requestId} {
      allow create: if request.auth != null
                    && request.auth.token.email_verified == true
                    && request.resource.data.email == request.auth.token.email
                    && request.resource.data.status == 'Pending';

      allow read: if request.auth != null
                  && resource.data.email == request.auth.token.email;

      allow update, delete: if false;
    }
  }
}